<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>ef Directory.EnumerateFiles</Title>
    <Shortcut>iod</Shortcut>
    <Description>Directory.EnumerateFiles method.</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-NonUniqueShortcut</Keyword>
      <Keyword>Meta-TitleStartsWithShortcut</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.IO</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal>
        <ID>path</ID>
        <ToolTip>Directory path</ToolTip>
        <Default>path</Default>
      </Literal>
      <Literal>
        <ID>pattern</ID>
        <ToolTip>Search pattern</ToolTip>
        <Default>"*"</Default>
      </Literal>
      <Literal>
        <ID>searchOption</ID>
        <ToolTip>SearchOption</ToolTip>
        <Default>.AllDirectories</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[Directory.EnumerateFiles($path$, $pattern$, SearchOption$searchOption$)$end$]]></Code>
  </Snippet>
</CodeSnippet>