<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>he Path.HasExtension</Title>
    <Shortcut>iop</Shortcut>
    <Description>Path.HasExtension method.</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-NonUniqueShortcut</Keyword>
      <Keyword>Meta-TitleStartsWithShortcut</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.IO</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal>
        <ID>path</ID>
        <ToolTip>Path</ToolTip>
        <Default>path</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[Path.HasExtension($path$)$end$]]></Code>
  </Snippet>
</CodeSnippet>