<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>span with class attribute</Title>
    <Shortcut>spancs</Shortcut>
    <Description>span with class attribute</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>class</ID>
        <ToolTip>CSS class name</ToolTip>
        <Default>class</Default>
      </Literal>
    </Declarations>
    <Code Language="Html"><![CDATA[<span class="$class$">$end$</span>]]></Code>
  </Snippet>
</CodeSnippet>