<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Dictionary&lt;TKey, TValue&gt; variable</Title>
    <Shortcut>vd</Shortcut>
    <Description>Dictionary&lt;TKey, TValue&gt; variable declaration</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-Collection</Keyword>
      <Keyword>Meta-Dictionary</Keyword>
      <Keyword>Meta-GenerateInitializer</Keyword>
      <Keyword>Meta-GenerateUnchanged</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.Collections.Generic</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal Editable="false">
        <ID>_initializer</ID>
      </Literal>
      <Literal>
        <ID>dictionaryIdentifier</ID>
        <ToolTip>Identifier name</ToolTip>
        <Default>dic</Default>
      </Literal>
      <Literal>
        <ID>keyType</ID>
        <ToolTip>Key type</ToolTip>
        <Default>object</Default>
      </Literal>
      <Literal>
        <ID>valueType</ID>
        <ToolTip>Value type</ToolTip>
        <Default>object</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[var $dictionaryIdentifier$ = new Dictionary<$keyType$, $valueType$>()$_initializer$;$end$]]></Code>
  </Snippet>
</CodeSnippet>