<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>HashSet@genericType@ variable</Title>
    <Shortcut>vhs</Shortcut>
    <Description>HashSet@genericType@ variable declaration</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-Tag GenerateInitializer</Keyword>
      <Keyword>Meta-Tag GenerateType</Keyword>
      <Keyword>Meta-Tag Collection</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.Collections.Generic</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal>
        <ID>_collectionIdentifier</ID>
        <ToolTip>Identifier name</ToolTip>
        <Default>items</Default>
      </Literal>
      <Literal Editable="false">
        <ID>_initializer</ID>
        <ToolTip>Initializer</ToolTip>
      </Literal>
      <Literal>
        <ID>_type</ID>
        <ToolTip>Generic type</ToolTip>
        <Default>Object</Default>
      </Literal>
    </Declarations>
    <Code Language="VB"><![CDATA[Dim $_collectionIdentifier$ = new HashSet(Of $_type$)()$_initializer$$end$]]></Code>
  </Snippet>
</CodeSnippet>