<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>return new containing type</Title>
    <Shortcut>rnthis</Shortcut>
    <Description>return new containing type</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-Environment vs</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Declarations>
      <Literal Editable="false">
        <ID>className</ID>
        <ToolTip>Containing type name</ToolTip>
        <Default>ThisName</Default>
        <Function>ClassName()</Function>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[return new $className$$end$]]></Code>
  </Snippet>
</CodeSnippet>