<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>gb Enumerable.GroupBy</Title>
    <Shortcut>q</Shortcut>
    <Description>Enumerable.GroupBy method</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-NonUniqueShortcut</Keyword>
      <Keyword>Meta-TitleStartsWithShortcut</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.Linq</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal Editable="false">
        <ID>_lambdaParam</ID>
        <Default>f</Default>
      </Literal>
      <Literal>
        <ID>keySelector</ID>
        <ToolTip>Key selector</ToolTip>
        <Default>f</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[.GroupBy($_lambdaParam$ => $keySelector$)$end$]]></Code>
  </Snippet>
</CodeSnippet>