<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>e Enumerable.Empty</Title>
    <Shortcut>q</Shortcut>
    <Description>Enumerable.Empty method</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-GenerateType</Keyword>
      <Keyword>Meta-NonUniqueShortcut</Keyword>
      <Keyword>Meta-TitleStartsWithShortcut</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.Linq</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal>
        <ID>_type</ID>
        <ToolTip>Type name</ToolTip>
        <Default>object</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[Enumerable.Empty<$_type$>()$end$]]></Code>
  </Snippet>
</CodeSnippet>