<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>if @type@ TryGetValue</Title>
    <Shortcut>iftgv</Shortcut>
    <Description>if statement with condition whether @type@ TryGetValue method returns true.</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-GenerateBasicType</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>_type</ID>
        <ToolTip>The type of the value to get</ToolTip>
        <Default>T</Default>
      </Literal>
      <Literal>
        <ID>identifier</ID>
        <ToolTip>The expression to get value from</ToolTip>
        <Default>x</Default>
      </Literal>
      <Literal>
        <ID>key</ID>
        <ToolTip>The key of the value to get</ToolTip>
        <Default>key</Default>
      </Literal>
      <Literal>
        <ID>value</ID>
        <ToolTip>The value associated with the specified key</ToolTip>
        <Default>value</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[$_type$ $value$;
if ($identifier$.TryGetValue($key$, out $value$)) {
	$end$
}]]></Code>
  </Snippet>
</CodeSnippet>