<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>fs Flags attribute</Title>
    <Shortcut>ae</Shortcut>
    <Description>Flags attribute</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-Tag NonUniqueShortcut</Keyword>
      <Keyword>Meta-Tag TitleStartsWithShortcut</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System</Namespace>
      </Import>
    </Imports>
    <Code Language="CSharp"><![CDATA[[Flags]$end$]]></Code>
  </Snippet>
</CodeSnippet>