<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Assembly attribute</Title>
    <Shortcut>ae_ay</Shortcut>
    <Description>Assembly attribute</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>attribute</ID>
        <ToolTip>Attribute</ToolTip>
        <Default>Attribute</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[[assembly: $attribute$]$end$]]></Code>
  </Snippet>
</CodeSnippet>