<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Directory.Delete</Title>
    <Shortcut>iod_d</Shortcut>
    <Description>Directory.Delete method.</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.IO</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal>
        <ID>path</ID>
        <ToolTip>Directory path</ToolTip>
        <Default>path</Default>
      </Literal>
      <Literal>
        <ID>recursive</ID>
        <Default>true</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[Directory.Delete($path$, recursive: $recursive$)$end$]]></Code>
  </Snippet>
</CodeSnippet>