<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Enumerable.Select</Title>
    <Shortcut>q_s</Shortcut>
    <Description>Enumerable.Select method</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.Linq</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal>
        <ID>selector</ID>
        <ToolTip>Selector</ToolTip>
        <Default>f</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[.Select(f => $selector$)$end$]]></Code>
  </Snippet>
</CodeSnippet>