<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>File.Delete</Title>
    <Shortcut>iof_d</Shortcut>
    <Description>File.Delete method.</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.IO</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal>
        <ID>path</ID>
        <ToolTip>File path</ToolTip>
        <Default>path</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[File.Delete($path$)$end$]]></Code>
  </Snippet>
</CodeSnippet>