<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>if !string.IsNullOrWhiteSpace</Title>
    <Shortcut>ifxsnw</Shortcut>
    <Description>if !string.IsNullOrWhiteSpace</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>expression</ID>
        <ToolTip>String expression</ToolTip>
        <Default>s</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[if (!string.IsNullOrWhiteSpace($expression$))
{
	$end$
}]]></Code>
  </Snippet>
</CodeSnippet>