<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Regex type</Title>
    <Shortcut>rx</Shortcut>
    <Description>Regex type declaration</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.Text.RegularExpressions</Namespace>
      </Import>
    </Imports>
    <Code Language="CSharp"><![CDATA[Regex$end$]]></Code>
  </Snippet>
</CodeSnippet>