<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Grid.Row Grid.Column</Title>
    <Shortcut>gdrwcn</Shortcut>
    <Description>Grid.Column and Grid.Row</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>columnIndex</ID>
        <ToolTip>Grid column index</ToolTip>
        <Default>0</Default>
      </Literal>
      <Literal>
        <ID>rowIndex</ID>
        <ToolTip>Grid row index</ToolTip>
        <Default>0</Default>
      </Literal>
    </Declarations>
    <Code Language="Xaml"><![CDATA[Grid.Row="$rowIndex$" Grid.Column="$columnIndex$"$end$]]></Code>
  </Snippet>
</CodeSnippet>