<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>spv StackPanel (vertical)</Title>
    <Shortcut>p</Shortcut>
    <Description>StackPanel with vertical orientation</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-NonUniqueShortcut</Keyword>
      <Keyword>Meta-TitleStartsWithShortcut</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Code Language="Xaml"><![CDATA[<StackPanel Orientation="Vertical">$end$</StackPanel>]]></Code>
  </Snippet>
</CodeSnippet>