<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Lambda expression with 2 parameters</Title>
    <Shortcut>l2</Shortcut>
    <Description>Lambda expression with 2 parameters</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal Editable="false">
        <ID>lambdaParam1</ID>
        <ToolTip>First parameter name</ToolTip>
        <Default>f</Default>
      </Literal>
      <Literal Editable="false">
        <ID>lambdaParam2</ID>
        <ToolTip>Second parameter name</ToolTip>
        <Default>g</Default>
      </Literal>
    </Declarations>
    <Code Language="VB"><![CDATA[Function($lambdaParam1$, $lambdaParam2$) $end$]]></Code>
  </Snippet>
</CodeSnippet>