<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>table with sections</Title>
    <Shortcut>table2</Shortcut>
    <Description>table with sections</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="Html"><![CDATA[<table>
	<caption>$end$</caption>
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td></td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>]]></Code>
  </Snippet>
</CodeSnippet>