<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>span with id attribute</Title>
    <Shortcut>spanid</Shortcut>
    <Description>span with id attribute</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>id</ID>
        <ToolTip>CSS id value</ToolTip>
        <Default>id</Default>
      </Literal>
    </Declarations>
    <Code Language="Html"><![CDATA[<span id="$id$">$end$</span>]]></Code>
  </Snippet>
</CodeSnippet>