<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>m File.Move</Title>
    <Shortcut>iof</Shortcut>
    <Description>File.Move method.</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
    <Keywords>
      <Keyword>Meta-Tag NonUniqueShortcut</Keyword>
      <Keyword>Meta-Tag TitleStartsWithShortcut</Keyword>
    </Keywords>
  </Header>
  <Snippet>
    <Imports>
      <Import>
        <Namespace>System.IO</Namespace>
      </Import>
    </Imports>
    <Declarations>
      <Literal>
        <ID>destinationFileName</ID>
        <ToolTip>Destination file name</ToolTip>
        <Default>destinationFileName</Default>
      </Literal>
      <Literal>
        <ID>sourceFileName</ID>
        <ToolTip>Source file name</ToolTip>
        <Default>sourceFileName</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[File.Move($sourceFileName$, $destinationFileName$)$end$]]></Code>
  </Snippet>
</CodeSnippet>