<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>if return false</Title>
    <Shortcut>ifref</Shortcut>
    <Description>if return false</Description>
    <Author>Josef Pihrt</Author>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>expression</ID>
        <ToolTip>Expression to evaluate</ToolTip>
        <Default>true</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp"><![CDATA[if ($expression$)
	return false;$end$]]></Code>
  </Snippet>
</CodeSnippet>